body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h4 {
  color: red;
}
.legende{
  margin-right: 20px;
}

#wrapper{
  display: flex;
  flex-direction: row;
}

#mainContent{
  padding: 30px;
}

.legendeBox{
  width: 15px;
  height: 15px;
  float: left;
  margin: auto 5px;
}

#legendeContainer{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

#chartContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.radiogroup {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.filterSideBar{
  width: 20%;
  min-width: 250px;
  background-color: white;
  border-right-color: grey;
  border-right-style: solid;
  border-right-width: 1px;
}

.filterBox{
  margin: 10px auto;
}

.filterBox label{
  width: 200px;
  display: inline-block;
}

.radiogroup2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 5px;
  width: 90px;
}

.radiogroup2 label{
  padding: 7px;
}
.label-stellschraube{
  display: block;
  width: 120px;
  padding-top: 35px;
}

#stellschraubenContainer{
  display:flex;
  flex-flow: row wrap;
}

.stellschraube{
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

.radiogroup label {
  display: block;
  padding: 5px;
}

.range-labels{
  list-style: none;
  padding: 0;
}

li {
  position: relative;
  float: left;
  width: 90.25px;
  text-align: center;
  color: #b2b2b2;
  font-size: 14px;
  cursor: pointer;
}

li::before {
   position: absolute;
   top: -25px;
   right: 0;
   left: 0;
   content: "";
   margin: 0 auto;
   width: 9px;
   height: 9px;
   background: #b2b2b2;
   border-radius: 50%;
 }

a {
  color: #00B7FF;
}

.tooltip{
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  text-align: center;
  padding: 7px 7px;
  position: absolute;
  pointer-events: none;
}
