body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h4 {
  color: red;
}
.legende{
  margin-right: 20px;
}

.legendeBox{
  width: 15px;
  height: 15px;
  float: left;
  margin: auto 5px;
}

#legendeContainer{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

#mainContent{
  margin-left: 20%;
}

#chartContainer{
  display: flex;
  flex-direction: row;
}

.radiogroup {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.filterSideBar{
  position: fixed;
  width: 20%;
  height: 200px;
  z-index: 1;
  top: 0;
  left:0;
  overflow: hidden;
}

.radiogroup2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
  width: 90px;
}

.radiogroup2 label{
  padding: 7px;
}
.label-stellschraube{
  display: block;
  width: 150px;
  padding-top: 35px;
}

.stellschraube{
  display: flex;
  flex-direction: row;
}

.radiogroup label {
  display: block;
  padding: 5px;
}

.range-labels{
  list-style: none;
  padding: 0;
}

li {
  position: relative;
  float: left;
  width: 90.25px;
  text-align: center;
  color: #b2b2b2;
  font-size: 14px;
  cursor: pointer;
}

li::before {
   position: absolute;
   top: -25px;
   right: 0;
   left: 0;
   content: "";
   margin: 0 auto;
   width: 9px;
   height: 9px;
   background: #b2b2b2;
   border-radius: 50%;
 }

a {
  color: #00B7FF;
}

.composer{
  cursor: pointer;
}

.compositor text{
  font-family: sans-serif;
  font-weight: bold;
  fill: black;
}

.legend rect{
  fill: white;
  stroke: aquamarine;
  rx: 5px;
  ry: 5px;
}

.legendItem{
  cursor: pointer;
}

.tooltip{
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  text-align: center;
  padding: 7px 7px;
  position: absolute;
  pointer-events: none;
}
